echo "
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
base/

#Folders
joern_cfg_graphs/
pt_cfg_files/
tree-sitter-cpp/
astenv/
data_Set_Time/
data_set_time_ast_json/

# Ignore compiled binaries except latest_firmware.bin
firmware/*
!firmware/latest_firmware.bin

# Ignore Docker-related files
*.log
*.db
__pycache__/
*.sqlite3
" > .gitignore
